<div class="container">
    <div class="row">
        <div class="col-12">
            <%= search_form_for @q, url: items_path do |f| %>
            <div class="form-group">
                <%= f.label :item_name_cont, "世界遺産名を含む" %>
                <%= f.search_field :item_name_or_genre_genre_name_or_area_area_name_or_country_country_name_cont, placeholder: "検索ワード" %>
            </div>
            
            <div class="actions"><%= f.submit "検索" %></div>
            <% end %>
            <% @items.each do |item|%>
                <%= item.genre.genre_name %><br /> 
                <%= attachment_image_tag(item, :item_image, :fill, 300, 300, format: "jpg") %>
                <%= item.country.country_name %><br />
                <%= item.item_name %><br />
                <%= link_to '詳しくはこちらへ', item_path(item.id) %>
            <% end %>
    </div>
    <%= paginate @items, class: "paginate" %>
</div>